<div class="loading" *ngIf="!bank">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<div class="bank-detail-page" *ngIf="bank">
    <div class="toolbar">
        <h1>Bank: {{bank.name}}</h1>
        <button mat-flat-button [routerLink]="['/bankwesen/banken']">
            Schließen
        </button>
        <button mat-flat-button color="primary" class="save-button" (click)="onUpdateClicked()">
            <mat-icon class="mat-icon-button-fix">edit</mat-icon>
            Ändern
        </button>
        <button mat-flat-button color="warn" class="save-button" (click)="onDeleteClicked()">
            <mat-icon class="mat-icon-button-fix">delete</mat-icon>
            Löschen
        </button>
    </div>

    <p [attr.aria-label]="'Name: ' + bank.name">
        <span style="font-size: 0.8em;" aria-hidden="true">Name:</span>
        <br>
        <span aria-hidden="true">{{bank.name}}</span>
    </p>

    <p [attr.aria-label]="'Eröffnet Am: ' + bank.eroeffnetAm.toLocaleString()">
        <span style="font-size: 0.8em;" aria-hidden="true">Eröffnet Am:</span>
        <br>
        <span aria-hidden="true">{{bank.eroeffnetAm | date:'dd. MMM. yyyy, HH:mm'}}</span>
    </p>

    <p [attr.aria-label]="'Is Pleite: ' + (bank.isPleite) ? 'aktiv' : 'inaktiv' ">
        <span style="font-size: 0.8em;" aria-hidden="true">Is Pleite:</span>
        <br>
        <mat-icon color="accent" *ngIf="bank.isPleite">
            check_box
        </mat-icon>
        <mat-icon style="color: gray" *ngIf="!bank.isPleite">
            check_box_outline_blank
        </mat-icon>
    </p>

    <p *ngIf="bank.kunde">
        <span style="font-size: 0.8em;">Kunde:</span>
        <br>
        <a [routerLink]="['/kundenstamm/kunden/detail', bank.kunde.id]">
            {{bank.kunde.name}}
            <mat-icon style="font-size: 1em;">open_in_new</mat-icon>
        </a>
    </p>
</div>