<div class="page">
    <div class="box">
        <h1>Passwort zurücksetzen</h1>

        <div class="error-message" *ngIf="errorMessage && errorMessage.length > 0">
            {{errorMessage}}
        </div>


        <label id="passwort-label">Passwort</label>
        <input class="emailUsername" aria-labelledby="passwort-label" type="password" [(ngModel)]="password"
            [disabled]="submitted">

        <label id="passwort-wiederholen-label">Passwort wiederholen</label>
        <input class="emailUsername" aria-labelledby="passwort-wiederholen-label" type="password"
            [(ngModel)]="password2" [disabled]="submitted">

        <button class="btn" (click)="onSubmitButtonClicked()"
            [disabled]="submitted || !validatePassword(password) || password !== password2"
            [attr.aria-disabled]="submitted || !validatePassword(password) || password !== password2">
            {{ !submitted ? 'Senden' : 'Gesendet'}}
        </button>

    </div>
</div>