<div class="page">
    <div class="box">
        <h1>Login</h1>

        <div class="error-message" *ngIf="errorMessage">
            {{errorMessage}}
        </div>

        <label id="email-label">E-Mail Adresse</label>
        <input type="email" aria-labelledby="email-label" (keyup.enter)="onLoginButtonClicked()" [(ngModel)]="email">
        <label id="password-label">Passwort</label>
        <input type="password" aria-labelledby="password-label" (keyup.enter)="onLoginButtonClicked()" [(ngModel)]="password">
        
        <button class="btn" (click)="onLoginButtonClicked()" [disabled]="isLoggingIn">Anmelden</button>
        <a routerLink="/login/forgot-password">Passwort vergessen?</a>
    </div>

</div>