<div class="table-filter-bar-dropdown-multiple">
    <mat-select disableOptionCentering panelClass="searchDropdownPanel" [multiple]="true" [placeholder]="label"
        [ngModel]="selectedDataSourceItems" (ngModelChange)="onSelectedDataSourceItemChange($event)">
        <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let dataSourceItem of filteredDataSource | async" [value]="dataSourceItem">
            {{getDisplayname(dataSourceItem)}}
        </mat-option>
    </mat-select>
</div>