<mat-form-field appearance="outline" [formGroup]="formGroupInstance" [floatLabel]="'always'">
    <mat-label>{{label}}</mat-label>
    <mat-select [required]="required" [placeholder]="label" disableOptionCentering panelClass="searchDropdownPanel"
        [formControlName]="formControlNameInstance">
        <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let item of data" [value]="getId(item)">
            {{getDisplayname(item)}}
        </mat-option>

        <div class="loading-item" *ngIf="dataSource.loading">
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
    </mat-select>
    <mat-error
        *ngIf="formGroupInstance.controls[formControlNameInstance].touched && formGroupInstance.controls[formControlNameInstance].invalid">
        <span *ngIf="formGroupInstance.controls[formControlNameInstance].errors.required">
            Dieses Feld ist erfolderlich.
        </span>
    </mat-error>
</mat-form-field>