<div class="table-filter-bar-dropdown" [class.open]="select?.panelOpen">
    <mat-select #select disableOptionCentering [panelClass]="(floatingRight)?'mat-select-panel-right-align':'mat-select-panel-left-align'" [multiple]="true" [placeholder]="label"
        [ngModel]="selectedDataItems" (ngModelChange)="onSelectedDataSourceItemChange($event)">
        <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl" [searching]="dataSource.loading$ | async"
                [hideClearSearchButton]="false"></ngx-mat-select-search>
        </mat-option>

        <ng-container *ngIf="selectedDataItems.length > 0">
            <mat-option *ngFor="let dataItem of selectedDataItems" [value]="dataItem">
                {{getDisplayname(dataItem)}}
            </mat-option>

            <hr>
        </ng-container>

        <mat-option *ngFor="let dataItem of data" [value]="dataItem">
            {{getDisplayname(dataItem)}}
        </mat-option>
    </mat-select>
</div>