<div class="page">
    <div class="box">
        <h1>Passwort vergessen</h1>

        <label id="email-label">E-Mail Adresse</label>
        <input class="emailUsername" type="text" aria-labelledby="email-label" [(ngModel)]="email"
            [disabled]="submitted">

        <button class="btn" (click)="onSubmitButtonClicked()" [disabled]="submitted || !validateEmail(email)"
            [attr.aria-disabled]="submitted || !validateEmail(email)">
            {{ !submitted ? 'Senden' : 'Gesendet'}}
        </button>
    </div>
</div>