.table-filter-bar-dropdown {
    padding: 0.5em;
    cursor: pointer;

    &:hover,
    &.open,
    &:focus-within {
        background-color: #c6c6c6;
    }
}

mat-select {
    width: fit-content !important;
    min-width: 100%;
}

::ng-deep {
    mat-select .mat-select-value {
        width: fit-content;
        min-width: 30px;
        max-width: 300px;
    }

    mat-select .mat-select-placeholder {
        width: fit-content;
        min-width: 30px;
    }

    .mat-select-panel-wrap {
        transform: translate(40px, 33px);
    }

    .mat-select-panel-right-align {
        float: right;
    }
}

.loading-item {
    margin: 8px;
    justify-content: center;
    display: grid;
    overflow: hidden;
}
