<div class="toolbar">
    <h1 mat-dialog-title>
        Kunde erstellen
    </h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="kunde-create-dialog" *ngIf="kundeCreateForm">
        <form [formGroup]="kundeCreateForm">

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required="true" maxlength="256" placeholder="Name">
                <mat-hint [align]="'end'">{{kundeCreateForm.controls.name.value.length}} / 256</mat-hint>
                <mat-error *ngIf="kundeCreateForm.controls.name.touched && kundeCreateForm.controls.name.invalid">
                    <span *ngIf="kundeCreateForm.controls.name.errors.required">
                        Dieses Feld ist erfolderlich.
                    </span>
                    <span *ngIf="kundeCreateForm.controls.name.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Balance</mat-label>
                <input matInput formControlName="balance" type="number" required="true" placeholder="Balance">
                <mat-error *ngIf="kundeCreateForm.controls.balance.touched && kundeCreateForm.controls.balance.invalid">
                    <span *ngIf="kundeCreateForm.controls.balance.errors.required">
                        Dieses Feld ist erfolderlich.
                    </span>
                    <span *ngIf="kundeCreateForm.controls.balance.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <app-search-dropdown [formGroupInstance]="kundeCreateForm" [formControlNameInstance]="'bankId'"
                label="Bank" idExpr="id" displayExpr="name" required="true" [dataSource]="bankDataSource"></app-search-dropdown>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="onCreateClicked()">
            <mat-icon class="mat-icon-button-fix">add</mat-icon>
            Erstellen
        </button>

        <button mat-flat-button mat-dialog-close>
            Abbrechen
        </button>
    </div>
</mat-dialog-actions>